:root {
  --sidebar-banner-padding: 50px;
}

.sidenav-container.aside-close .sidenav-wrapper .pan-sidenav .content-inner {
  display: none;
}

.sidenav-wrapper .toggle-aside {
  align-items: center;
  background-color: var(--article-background);
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: -15px;
  width: 27px;
  z-index: 2;
}

.sidenav-wrapper .toggle-aside:before,
.sidenav-wrapper .toggle-aside:after {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 20px;
  right: 0;
  width: 10px;
}

.sidenav-wrapper .toggle-aside:before {
  bottom: -20px;
  border-top-right-radius: 10px;
  box-shadow: 0 -10px 0 0 var(--article-background);
}

.sidenav-wrapper .toggle-aside:after {
  top: -20px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 0 0 var(--article-background);
}

.sidenav-wrapper .toggle-aside i {
  font-size: 9px;
}

.sidenav-wrapper .toggle-aside:hover {
  background: #a2e4f2;
}

.sidenav-wrapper > .toggle-aside {
  position: fixed;
  right: auto;
  top: 50%;
  display: none;
  transform: translate(calc(-100% - 5px), 100%);
}

.pan-sidenav .banner {
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

/* .pan-sidenav::before {
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    left: -100px;
    z-index: -1;
    width: 428px;
    height: 270px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 428px 270px;
    pointer-events: none;
    opacity: 0.5;
    background-image: url("/prisma/prisma-cloud/assets/sase-cns-pattern.webp");
  } */

.pan-sidenav .book-detail-banner-info {
  display: flex;
  align-items: center;
  color: black;
}

.pan-sidenav .banner-info-label {
  text-transform: uppercase;
  font-weight: 500;
  margin-right: 5px;
}

.pan-sidenav .version-dropdown {
  position: relative;
  min-width: 150px;
}

.pan-sidenav .version-dropdown > a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  gap: 8px;
}

.pan-sidenav .version-dropdown a:hover {
  color: #fa582d;
}

.pan-sidenav .version-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  box-shadow: 0 14px 40px rgb(54 66 75 / 30%);
  color: #000;
  font-size: 13px;
  margin: 0;
  padding: 25px;
  transition: transform 0.3s ease, opacity 0.4s ease-out, height 0.2s ease;
  transform-origin: top;
  z-index: 10;
  width: 260px;
  left: -120px;
}

.pan-sidenav .version-dropdown .version-dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pan-sidenav .version-dropdown:hover .version-dropdown-menu {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.pan-sidenav .version-dropdown li {
  padding-bottom: 5px;
}

.pan-sidenav .version-dropdown li a {
  text-decoration: none;
  padding: 0;
  transition: background-size 0.2s;
  color: black;
}

.pan-sidenav .content {
  position: relative;
  display: flex;
  flex-direction: column;
  /* background-color: white; */
  margin-top: 30px;
  padding: 0 0 20px 0;
  z-index: 1;
  height: 100%;
}

.pan-sidenav .content h2 {
  font-size: 22px;
  font-weight: 700;
}

.pan-sidenav .banner-inner-mobile h2,
.pan-sidenav .banner-inner-mobile h2 a {
  color: #000;
  font-size: 20px;
}

.pan-sidenav .banner-inner-mobile hr {
  margin-top: 25px;
}

.pan-sidenav .banner-inner-mobile .title {
  display: block;
  margin-bottom: 30px;
}

.pan-sidenav .locale-toc-title {
  display: none;
}

.pan-sidenav .locale-toc-title h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: #36424b;
}

.pan-sidenav hr {
  background: #00c0e8;
  height: 3px;
  min-height: 3px;
  border: 0;
  width: 75px;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  box-sizing: content-box;
}

.pan-sidenav .search-toc {
  margin-bottom: 20px;

  display: none;
}

.pan-sidenav .search-toc-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  margin-bottom: 10px;
}

.pan-sidenav .filter-icon {
  min-width: 20px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.pan-sidenav .search-toc-container {
  display: flex;
}

.pan-sidenav .form {
  flex-grow: 1;
  border: 0;
  position: relative;
  text-align: left;
  color: #212121;
}

.pan-sidenav .form-input {
  border: 1px solid #141414;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pan-sidenav .form-input input {
  color: #67768b;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  padding: 12px 49px 12px 0;
  text-indent: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  white-space: pre;
  overflow: auto;
  box-sizing: border-box;
  display: block;
  background: none;
  border: none;
  resize: none;
  outline: 0;
}

.pan-sidenav .form-input button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  margin-right: 4px;
  position: relative;
  cursor: pointer;
}

.pan-sidenav .toc-books {
  position: relative;
}

.pan-sidenav .toc-books ul {
  list-style: none;
  padding: 0 0 0 8px;
  margin: 0;
}

.pan-sidenav .toc-books div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 2px 2px 0;
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
}

.pan-sidenav .toc-books a {
  align-items: center;
  border-radius: 40px;
  color: var(--tertiary-action-text-color);
  display: flex;
  font-size: 12px;
  line-height: 16px;
  padding: 8px var(--tertiary-action-padding);
  text-decoration: none;
  width: 100%;
  /* min-height: 24px; */
}

/* Book titles */
.pan-sidenav .toc-books > ul > li > div > a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}

.pan-sidenav .toc-books > ul > li li[data-key] {
  padding-left: var(--sidebar-book-spacing);
}

.pan-sidenav .toc-books li:not([data-key]) > div > a {
  padding-left: var(--tertiary-action-padding);
  padding-right: var(--tertiary-action-padding);
  width: 100%;
}

.pan-sidenav .toc-books a:visited {
  /* color: #962d10; */
}

/* .pan-sidenav .toc-books li:not([data-key]) > div > a:hover,
  .pan-sidenav .toc-books li:not([data-key]) > div:hover,
  .pan-sidenav .toc-books li[data-key] > div:hover {
    background-color: var(--sidebar-link-active-background-color);
  } */

/* .pan-sidenav .toc-books li:not([data-key]) > div:hover a,
  .pan-sidenav .toc-books li[data-key] > div:hover a {
    color: var(--sidebar-link-active-text-color);
  } */

/* Hovered / Selected Styles */
.pan-sidenav .toc-books li[data-key] > div:hover .icon-toggle,
.pan-sidenav .toc-books li:not([data-key]) > div:hover .icon-toggle,
.pan-sidenav .toc-books li.current[data-key] > div .icon-toggle,
.pan-sidenav .toc-books li.current:not([data-key]) > div .icon-toggle,
.pan-sidenav .toc-books li[data-key] > div:hover a,
.pan-sidenav .toc-books li:not([data-key]) > div:hover a,
.pan-sidenav .toc-books li.current[data-key] > div a,
.pan-sidenav .toc-books li.current:not([data-key]) > div a {
  color: var(--sidebar-link-active-text-color);
}

.pan-sidenav .toc-books li[data-key] > div:hover a,
.pan-sidenav .toc-books li:not([data-key]) > div:hover a,
.pan-sidenav .toc-books li.current[data-key] > div a,
.pan-sidenav .toc-books li.current:not([data-key]) > div a {
  background-color: var(--sidebar-link-active-background-color);
  border-radius: 40px;
}

.pan-sidenav .toc-books li.current > div > a:visited {
  color: var(--sidebar-link-active-text-color);
}

.pan-sidenav .toc-books li .icon-toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 8px;
  height: 100%;
  position: absolute;
  right: 10px;
  top: 0;
}

.pan-sidenav .toc-books li .icon-toggle:before {
  background: var(--sidebar-book-toggle-background-color);
  border-radius: 50%;
  content: "";
  height: var(--spacing--4);
  position: absolute;
  right: -4px;
  top: 50%;
  transform: translateY(-50%);
  width: var(--spacing--4);
}

/* Hide background for non-top level items */
.pan-sidenav .toc-books ul li ul li .icon-toggle:before {
  display: none;
}

.pan-sidenav .toc-books li > ul {
  display: none;
}

.pan-sidenav .toc-books li > div > .icon-toggle svg {
  transform: rotate(-90deg);
}

.pan-sidenav .toc-books li[aria-expanded="true"] > div > .icon-toggle svg {
  transform: rotate(0deg);
}

.pan-sidenav .toc-books li[aria-expanded="true"] > ul {
  display: block;
}

.pan-sidenav .toc-books li[data-key] > ul > li:first-child {
  display: none;
}

@media (min-width: 768px) {
  .sidenav-container.aside-close .sidenav-wrapper {
    min-width: 30px;
    max-width: 30px;
    margin: 0;
  }

  .sidenav-container.aside-close .sidenav-wrapper .pan-sidenav {
    opacity: 0;
  }

  .sidenav-container.aside-close .sidenav-wrapper > .toggle-aside {
    display: flex;
  }

  .pan-sidenav .content .content-inner .toc-books {
    max-height: calc(100vh - var(--nav-height));
    padding-right: var(--spacing--2);
    overflow-y: scroll;
    scrollbar-gutter: stable;

    /* Scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-background-color) transparent;
    scrollbar-gutter: stable;
  }

  .toc-books::-webkit-scrollbar {
    height: 0.375rem;
    width: 8px;
  }

  .toc-books::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .toc-books::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
  }

  .toc-books:hover::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-background-color);
  }

  .pan-sidenav .banner {
    display: flex;
    justify-content: flex-end;
    padding-bottom: var(--sidebar-banner-padding);

    display: none;
  }

  .pan-sidenav .banner-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .pan-sidenav .banner-inner .banner-inner-mobile {
    display: none;
  }
}
