.sidenav {
  --banner-background-color: var(--color-neutral-white);
  --banner-box-shadow: 0px 2px 4px 0px rgba(0, 55, 102, 0.25);
  --banner-icon-background-color: var(--color-blue--100);
  --banner-text-color: var(--color-blue--600);

  --title-spacing-horz: var(--spacing--2);

  --toggle-border-radius: 50px;

  --sidebar-banner-padding: 50px;
}

[data-user-theme="dark"] .sidenav {
  --banner-background-color: var(--color-neutral-dark-600);
  --banner-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  --banner-icon-background-color: var(--color-neutral-dark-800);
  --banner-text-color: var(--color-blue-dark--200);
}

.sidenav-wrapper {
  flex-shrink: 0;
  width: 375px;
}

.sidenav-wrapper hr,
.sidenav-container.aside-close .sidenav-wrapper .pan-sidenav .content-inner {
  display: none;
}

.sidenav-container.aside-close .sidenav-wrapper {
  min-width: 0;
  max-width: 0;
}

.book .sidenav-container.aside-close {
  padding-left: var(--spacing--4);
}

.sidenav-wrapper .toggle-aside {
  align-items: center;
  background-color: var(--article-background);
  border-bottom-left-radius: var(--toggle-border-radius);
  border-top-left-radius: var(--toggle-border-radius);
  color: var(--inline-link-text-color);
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 0;
  top: -36px;
  width: 27px;
  z-index: 2;
  transition: background-color var(--theme-transition-ease-duration)
      var(--theme-transition-ease-function),
    color var(--theme-transition-ease-duration)
      var(--theme-transition-ease-function);
}

.sidenav-wrapper .toggle-aside:before,
.sidenav-wrapper .toggle-aside:after {
  content: "";
  position: absolute;
  background-color: transparent;
  height: 20px;
  right: 0;
  width: 10px;
  transition: box-shadow var(--theme-transition-ease-duration)
    var(--theme-transition-ease-function);
}

.sidenav-wrapper .toggle-aside:before {
  bottom: -20px;
  border-top-right-radius: 10px;
  box-shadow: 0 -10px 0 0 var(--article-background);
}

.sidenav-wrapper .toggle-aside:after {
  top: -20px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 10px 0 0 var(--article-background);
}

.sidenav-wrapper .toggle-aside i {
  font-size: 9px;
}

/* .sidenav-wrapper .toggle-aside:hover {
  background: #a2e4f2;
} */

.sidenav-wrapper > .toggle-aside {
  position: fixed;
  right: auto;
  top: 50%;
  display: none;
  transform: translate(calc(-100% - 5px), 100%);
}

.sidenav-container.aside-close .sidenav-wrapper .banner {
  opacity: 0;
  pointer-events: none;
}

.sidenav-container.aside-close .toggle-aside {
  background-color: var(--color-body-book-background);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: var(--toggle-border-radius);
  border-top-right-radius: var(--toggle-border-radius);
  transform: translateX(100%);
}

.sidenav-container.aside-close .toggle-aside:before {
  bottom: -20px;
  border-top-left-radius: 10px;
  box-shadow: -10px -10px 0 0 var(--color-body-book-background);
  left: 0;
  width: 20px;
}

.sidenav-container.aside-close .toggle-aside:after {
  top: -20px;
  border-bottom-left-radius: 10px;
  box-shadow: -10px 10px 0 0 var(--color-body-book-background);
  left: 0;
  right: auto;
  width: 20px;
}

.sidenav-container.aside-close .toggle-aside .icon {
  transform: scaleX(-1);
}

.pan-sidenav .banner {
  padding: 0 var(--spacing--8) 0 var(--spacing--4);
}

.banner-inner > .book-detail-banner-info,
.pan-sidenav .languages {
  display: none;
}

/* .pan-sidenav::before {
    content: "";
    display: block;
    position: absolute;
    top: 25px;
    left: -100px;
    z-index: -1;
    width: 428px;
    height: 270px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 428px 270px;
    pointer-events: none;
    opacity: 0.5;
    background-image: url("/prisma/prisma-cloud/assets/sase-cns-pattern.webp");
  } */

/* .pan-sidenav .book-detail-banner-info {
  display: flex;
  align-items: center;
  color: black;
} */

.pan-sidenav .banner-info-label {
  display: none;
}

.versions .banner-dropdown,
.versions .book-detail-banner-info {
  display: flex;
  width: 100%;
}

.versions .banner-dropdown {
  background: var(--banner-background-color);
  box-shadow: var(--banner-box-shadow);
  border-radius: var(--article-border-radius);
  color: var(--banner-text-color);
  transition: background-color var(--theme-transition-ease-duration)
    var(--theme-transition-ease-function);
}

.pan-sidenav .version-dropdown {
  position: relative;
  min-width: 150px;
}

.pan-sidenav .version-button {
  align-items: center;
  background: transparent;
  border: none;
  color: var(--banner-text-color);
  cursor: pointer;
  display: flex;
  font-family: var(--body-font-family);
  justify-content: space-between;
  padding: var(--spacing--5) var(--spacing--6);
  text-decoration: none;
  transition: color var(--theme-transition-ease-duration)
    var(--theme-transition-ease-function);
  width: 100%;
}

.version-dropdown .icon-container {
  align-items: center;
  background-color: var(--banner-icon-background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: background-color var(--theme-transition-ease-duration)
    var(--theme-transition-ease-function);
  height: var(--spacing--4);
  width: var(--spacing--4);
}

.version-dropdown .icon-container svg {
  height: var(--spacing--2);
  width: var(--spacing--2);
}

.pan-sidenav .version-dropdown-menu {
  bottom: calc(var(--drawer-margin-gap) * -1);
  left: 0;
  position: absolute;
  transform: translateY(100%);
  width: 100%;
  z-index: 2;
}

.pan-sidenav .version-dropdown .version-dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pan-sidenav
  .version-dropdown-menu.is-active
  + .version-button
  .icon-container {
  transform: scale(-1);
}

.pan-sidenav .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: var(--spacing--10);
  padding: 0;
  position: relative;
  z-index: 1;
}

.pan-sidenav .content h2 {
  font-size: 22px;
  font-weight: 700;
}

.pan-sidenav .banner-inner .banner-inner-mobile {
  display: none;
}

/* .pan-sidenav .banner-inner-mobile h2,
.pan-sidenav .banner-inner-mobile h2 a {
  color: #000;
  font-size: 20px;
}

.pan-sidenav .banner-inner-mobile hr {
  margin-top: 25px;
}

.pan-sidenav .banner-inner-mobile .title {
  display: block;
  margin-bottom: 30px;
} */

.pan-sidenav .locale-toc-title {
  display: none;
}

.pan-sidenav .locale-toc-title h2 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.1;
  color: #36424b;
}

.pan-sidenav hr {
  background: #00c0e8;
  height: 3px;
  min-height: 3px;
  border: 0;
  width: 75px;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  box-sizing: content-box;
}

.pan-sidenav .search-toc {
  margin-bottom: 20px;

  display: none;
}

.pan-sidenav .search-toc-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 500;
  margin-bottom: 10px;
}

.pan-sidenav .filter-icon {
  min-width: 20px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.pan-sidenav .search-toc-container {
  display: flex;
}

.pan-sidenav .form {
  flex-grow: 1;
  border: 0;
  position: relative;
  text-align: left;
  color: #212121;
}

.pan-sidenav .form-input {
  border: 1px solid #141414;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pan-sidenav .form-input input {
  color: #67768b;
  font-size: 14px;
  line-height: 1.5;
  text-align: left;
  padding: 12px 49px 12px 0;
  text-indent: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  white-space: pre;
  overflow: auto;
  box-sizing: border-box;
  display: block;
  background: none;
  border: none;
  resize: none;
  outline: 0;
}

.pan-sidenav .form-input button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: 0;
  margin-right: 4px;
  position: relative;
  cursor: pointer;
}

.pan-sidenav .toc-books {
  position: relative;
}

.pan-sidenav .toc-books ul {
  list-style: none;
  padding: 0 0 0 var(--title-spacing-horz);
  margin: 0;
}

.pan-sidenav .toc-books div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 2px 2px 0;
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
}

.pan-sidenav .toc-books a {
  align-items: center;
  border-radius: var(--tertiary-action-border-radius);
  color: var(--tertiary-action-text-color);
  display: flex;
  font-size: var(--tertiary-action-font-size);
  line-height: var(--tertiary-action-line-height);
  padding: 8px var(--tertiary-action-padding);
  text-decoration: none;
  width: 100%;
  /* min-height: 24px; */
}

/* Book titles */
.pan-sidenav .toc-books > ul > li > div > a {
  font-size: var(--body-font-size--p2);
  line-height: var(--body-line-height--p3);
}

.pan-sidenav .toc-books > ul > li li[data-key] {
  padding-left: var(--sidebar-book-spacing);
}

/* Reduce sub expanded item padding */
.pan-sidenav .toc-books > ul > li li li[data-key] {
  padding-left: 0;
}

.pan-sidenav .toc-books li:not([data-key]) > div > a {
  padding-left: var(--tertiary-action-padding);
  padding-right: var(--tertiary-action-padding);
  width: 100%;
}

.pan-sidenav .toc-books a:visited {
  /* color: #962d10; */
}

/* .pan-sidenav .toc-books li:not([data-key]) > div > a:hover,
  .pan-sidenav .toc-books li:not([data-key]) > div:hover,
  .pan-sidenav .toc-books li[data-key] > div:hover {
    background-color: var(--tertiary-action-active-background-color);
  } */

/* .pan-sidenav .toc-books li:not([data-key]) > div:hover a,
  .pan-sidenav .toc-books li[data-key] > div:hover a {
    color: var(--tertiary-action-active-text-color);
  } */

/* Hovered / Selected Styles */

/* Book Hover */
.pan-sidenav .toc-books li[data-key] > div:hover a,
.pan-sidenav .toc-books li:not([data-key]) > div:hover a,
.pan-sidenav .toc-books li[data-key] > div:hover .icon-toggle,
.pan-sidenav .toc-books li:not([data-key]) > div:hover .icon-toggle {
  color: var(--book-active-text-color);
}

.pan-sidenav .toc-books li[data-key] > div:hover a,
.pan-sidenav .toc-books li:not([data-key]) > div:hover a {
  background-color: var(--tertiary-action-active-background-color);
}

/* Book Focus */
.pan-sidenav .toc-books li[data-key] > div:focus a,
.pan-sidenav .toc-books li:not([data-key]) > div:focus a {
  background: var(--book-focus-background-color);
  border: 2px solid var(--book-focus-border-color);
  color: var(--book-active-text-color);
}

.pan-sidenav .toc-books li[data-key] > div:focus .icon-toggle,
.pan-sidenav .toc-books li:not([data-key]) > div:focus .icon-toggle {
  color: var(--book-active-text-color);
}

/* Chapter selected */
/* .pan-sidenav .toc-books li li[aria-expanded="true"][data-key] > div a,
.pan-sidenav .toc-books li li[aria-expanded="true"]:not([data-key]) > div a,
.pan-sidenav
  .toc-books
  li
  li[aria-expanded="true"][data-key]
  > div
  .icon-toggle,
.pan-sidenav
  .toc-books
  li[aria-expanded="true"]:not([data-key])
  > div
  .icon-toggle {
  background: var(--chapter-selected-background-color);
  color: var(--chapter-selected-text-color);
} */

/* Topic selected */
.pan-sidenav .toc-books li li.current[data-key] > div .icon-toggle,
.pan-sidenav .toc-books li li.current:not([data-key]) > div .icon-toggle,
.pan-sidenav .toc-books li li.current[data-key] > div a,
.pan-sidenav .toc-books li li.current:not([data-key]) > div a {
  color: var(--tertiary-action-selected-text-color);
}

.pan-sidenav .toc-books li li.current[data-key] > div a,
.pan-sidenav .toc-books li li.current:not([data-key]) > div a {
  background-color: var(--tertiary-action-selected-background-color);
}

.pan-sidenav .toc-books li li[data-key] > div:hover .icon-toggle,
.pan-sidenav .toc-books li li:not([data-key]) > div:hover .icon-toggle,
.pan-sidenav .toc-books li li[data-key] > div:hover a,
.pan-sidenav .toc-books li li:not([data-key]) > div:hover a {
  color: var(--tertiary-action-active-text-color);
}

.pan-sidenav .toc-books li li[data-key] > div:hover a,
.pan-sidenav .toc-books li li:not([data-key]) > div:hover a {
  background-color: var(--tertiary-action-active-background-color);
}

/* .pan-sidenav .toc-books li[data-key] > div:hover a,
.pan-sidenav .toc-books li:not([data-key]) > div:hover a {
  background-color: var(--tertiary-action-active-background-color);
} */

.pan-sidenav .toc-books li.current > div > a:visited {
  color: var(--tertiary-action-active-text-color);
}

.pan-sidenav .toc-books .icon-toggle {
  align-items: center;
  color: var(--tertiary-action-text-color);
  display: flex;
  font-size: var(--spacing--2);
  position: absolute;
  right: var(--spacing--4);
  transform: rotate(90deg);
  z-index: 1;
}

/* Expand hitbox */
.pan-sidenav .toc-books .icon-toggle:before {
  content: "";
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  height: var(--spacing--12);
  width: var(--spacing--8);
}

.pan-sidenav .toc-books .icon-toggle:hover {
  cursor: pointer;
}

.pan-sidenav .toc-books .icon-container .icon {
  height: var(--spacing--2);
  width: var(--spacing--2);
}

/* .pan-sidenav .toc-books li .icon-toggle {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: 8px;
  height: 100%;
  position: absolute;
  right: 10px;
  top: 0;
} */

.pan-sidenav .toc-books li > ul {
  display: none;
}

/* .pan-sidenav .toc-books li > div > .icon-toggle svg {
  transform: rotate(-90deg);
} */

/* .pan-sidenav .toc-books li.current .icon-toggle svg, */
.pan-sidenav .toc-books li[aria-expanded="true"] > div > .icon-toggle svg {
  transform: rotate(180deg);
}

.pan-sidenav .toc-books li[aria-expanded="true"] > ul {
  display: block;
}

/* .pan-sidenav .toc-books li[data-key] > ul > li:first-child {
  display: none;
} */

@media (max-width: 1248px) {
  .book .sidenav-container.aside-close {
    padding-left: var(--spacing--4);
    padding-right: var(--spacing--4);
  }
}

@media (min-width: 901px) {
  .pan-sidenav .content .content-inner .toc-books {
    /* 117px is the height of the edition banner */
    max-height: calc(100vh - var(--nav-height) - 117px);
    padding-right: var(--spacing--2);
    overflow-y: scroll;
    scrollbar-gutter: stable;

    /* Scrollbar styles */
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-background-color) transparent;
    scrollbar-gutter: stable;
  }

  .toc-books::-webkit-scrollbar {
    height: 0.375rem;
    width: 8px;
  }

  .toc-books::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .toc-books::-webkit-scrollbar-thumb {
    border-radius: 0.375rem;
  }

  .toc-books:hover::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-background-color);
  }

  .pan-sidenav .banner-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.toc-resizer {
  cursor: ew-resize;
  height: calc(100% - var(--nav-height) - var(--article-top-spacing));
  left: 0;
  position: fixed;
  transform: translateX(375px);
  top: calc(var(--nav-height) + var(--article-top-spacing));
  width: var(--spacing--1);
  z-index: 1;
}

@media (max-width: 900px) {
  .sidenav-container .toggle-aside,
  .sidenav-container.aside-close .sidenav-wrapper .banner {
    display: none;
  }

  .sidenav-container .pan-sidenav .content {
    margin: 0;
  }

  .sidenav-wrapper {
    background: var(--mobile-drawer-background-color);
    left: 0;
    height: calc(100% - var(--nav-height--book));
    top: calc(var(--nav-height--book) - 1px);
    overflow: auto;
    padding-top: var(--spacing--4);
    position: fixed;
    width: 100%;
    z-index: var(--z-index-100--mobile-sidenav);
  }
}
