:root {
    --sidebar-banner-padding: 50px;
}

.sidenav-container.aside-close .sidenav-wrapper .pan-sidenav .content-inner {
    display:none;
}

.sidenav-wrapper .toggle-aside {
    background-color: #00C0E8;
    position: absolute;
    right: 5px;
    top: 22px;
    z-index: 2;
    border-radius: 50%;
    padding: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.sidenav-wrapper i.icon {
    line-height: 0;
    width: 11px;
    height: 11px;
}

.sidenav-wrapper i.icon img {
    width: 11px;
    height: 11px;
}

.sidenav-wrapper .banner i.icon {
    width: 14px;
    height: 14px;
}

.sidenav-wrapper .banner i.icon img {
    width: 14px;
    height: 14px;
}

.sidenav-wrapper .toggle-aside i.icon {
    width: 9px;
    height: 9px;
}

.sidenav-wrapper .toggle-aside i.icon img {
    width: 9px;
    height: 9px;
}

.sidenav-wrapper .toggle-aside:hover {
    background: #A2E4F2;
}

.sidenav-wrapper > .toggle-aside {
    position: fixed;
    right: auto;
    top: 50%;
    display: none;
    transform: translate(calc(-100% - 5px), 100%);
}

.pan-sidenav .banner {
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.pan-sidenav::before {
    content: '';
    display: block;
    position: absolute;
    top: 25px;
    left: -100px;
    z-index: -1;
    width: 428px;
    height: 270px;
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 428px 270px;
    pointer-events: none;
    opacity: 0.5;
    background-image: url("/prisma/prisma-cloud/assets/sase-cns-pattern.webp");
}

.pan-sidenav .book-detail-banner-info {
    display: flex;
    align-items: center;
    color: black;
}

.pan-sidenav .banner-info-label {
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 5px;
}

.pan-sidenav .banner-dropdown {
    position: relative;
    min-width: 150px;
}

.pan-sidenav .banner-dropdown > a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    gap: 8px;
}

.pan-sidenav .banner-dropdown a:hover {
    color: #fa582d;
}

.pan-sidenav .banner-dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    background: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    box-shadow: 0 14px 40px rgb(54 66 75 / 30%);
    color: #000;
    font-size: 13px;
    margin: 0;
    padding: 25px;
    transition: transform 0.3s ease, opacity 0.4s ease-out, height 0.2s ease;
    transform-origin: top;
    z-index: 10;
    width: 260px;
    left: -120px;
}

.pan-sidenav .banner-dropdown .banner-dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pan-sidenav .banner-dropdown:hover .banner-dropdown-menu {
    display: block;
    opacity: 1;
    pointer-events: auto;
}

.pan-sidenav .banner-dropdown li {
    padding-bottom: 5px;
}

.pan-sidenav .banner-dropdown li a {
    text-decoration: none;
    padding: 0;
    transition: background-size 0.2s;
    color: black;
}

.pan-sidenav .content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 15px;
    z-index: 1;
    height: 100%;
    margin-top: 35px;
}

.pan-sidenav .content h2 {
    font-size: 22px;
    font-weight: 700;
}

.pan-sidenav .banner-inner-mobile h2,
.pan-sidenav .banner-inner-mobile h2 a {
    color: #000;
    font-size: 20px;
}

.pan-sidenav .banner-inner-mobile hr {
    margin-top: 25px;
}

.pan-sidenav .banner-inner-mobile .title {
    display: block;
    margin-bottom: 30px;
}

.pan-sidenav .locale-toc-title h2 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.1;
    color: #36424b;
}

.pan-sidenav hr {
    background: #00C0E8;
    height: 3px;
    min-height: 3px;
    border: 0;
    width: 75px;
    margin-left: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    box-sizing: content-box;
}

.pan-sidenav .search-toc {
    margin-bottom: 20px;
}

.pan-sidenav .search-toc-label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
    margin-bottom: 10px;
}

.pan-sidenav .filter-icon {
    min-width: 20px;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.pan-sidenav .search-toc-container {
    display: flex;
}

.pan-sidenav .form {
    flex-grow: 1;
    border: 0;
    position: relative;
    text-align: left;
    color: #212121;
}

.pan-sidenav .form-input {
    border: 1px solid #141414;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pan-sidenav .form-input input {
    color: #67768b;
    font-size: 14px;
    line-height: 1.5;
    text-align: left;
    padding: 12px 49px 12px 0;
    text-indent: 12px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    white-space: pre;
    overflow: auto;
    box-sizing: border-box;
    display: block;
    background: none;
    border: none;
    resize: none;
    outline: 0;
}

.pan-sidenav .form-input button {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 0;
    margin-right: 4px;
    position: relative;
    cursor: pointer;
}

.pan-sidenav .toc-books {
    position: relative;
}

.pan-sidenav .toc-books ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pan-sidenav .toc-books div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.pan-sidenav .toc-books a {
    font-size: 11px;
    text-decoration: none;
    color: #141414;
    min-height: 24px;
    display: flex;
    align-items: center;
}

.pan-sidenav .toc-books > ul > li > div > a {
    font-size: 14px;
    font-weight: 500;
}

.pan-sidenav .toc-books > ul > li li[data-key] {
    padding-left: 18px;
}

.pan-sidenav .toc-books li:not([data-key]) > div > a {
    padding-left: 18px;
    padding-right: 18px;
}

.pan-sidenav .toc-books a:visited {
    /* color: #962d10; */
}

.pan-sidenav .toc-books li:not([data-key]) > div > a:hover,
.pan-sidenav .toc-books li[data-key] > div:hover {
    background-color: rgb(250 88 45 / 25%);
    border-radius: 4px;
}

.pan-sidenav .toc-books li.current[data-key] > div,
.pan-sidenav .toc-books li.current:not([data-key]) > div > a {
    background-color: black;
    color: white;
    border-radius: 4px;
}

.pan-sidenav .toc-books li.current > div > a:visited {
    color: #f4f4f2;
}

.pan-sidenav .toc-books li.current i.icon img {
    filter: invert(0.9);
}

.pan-sidenav .toc-books li .icon {
    cursor: pointer;
    font-size: 11px;
    margin-right: 4px;
}

.pan-sidenav .toc-books li > ul {
    display: none;
}

.pan-sidenav .toc-books li > div > span {
    cursor: pointer;
    padding-left: 6px;
}

.pan-sidenav .toc-books li[aria-expanded="true"] > div > span > i.icon {
    transform: rotate(90deg);
}

.pan-sidenav .toc-books li[aria-expanded="true"] > ul {
    display: block;
}

@media (min-width: 768px) {
    .sidenav-container.aside-close .sidenav-wrapper {
        min-width: 30px;
        max-width: 30px;
        margin: 0;
    }

    .sidenav-container.aside-close .sidenav-wrapper .pan-sidenav {
        opacity: 0;
    }

    .sidenav-container.aside-close .sidenav-wrapper> .toggle-aside {
        display: flex;
    }

    .pan-sidenav .content .content-inner .toc-books {
        max-height: calc( 100vh - 390px );
        overflow: scroll;
    }

    .pan-sidenav .banner {
        display: flex;
        padding-bottom: var(--sidebar-banner-padding);
    }

    .pan-sidenav .banner-inner {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .pan-sidenav .banner-inner .banner-inner-mobile {
        display: none;
    }
}
