.operationalize {
  background-color: var(--color-blue-dark--900);
}

.operationalize p {
  color: var(--color-neutral-100);
}

.operationalize .intro-container {
  display: none;
  transition: opacity 0.6s ease;
}

.operationalize .intro-container.is-current-route {
  display: block;
}

.operationalize .intro-wrapper:before,
.operationalize .intro-wrapper:after {
  content: '';
  position: absolute;
}

.operationalize .intro-wrapper:before {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #3d50ff 0%,
    rgba(175, 39, 209, 0) 100%
  );
  left: -224px;
  height: 740px;
  width: 740px;
}

.operationalize .intro-wrapper:after {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #9532c3 0%,
    rgba(70, 0, 219, 0) 100%
  );
  left: 50%;
  top: -150px;
  transform: translate(-10%, 0);
  height: 500px;
  width: 500px;
}

.ops-intro {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* gap: 27vh; */
  justify-content: center;
  position: relative;
  z-index: 1;
  height: calc(100vh - var(--nav-height));
  width: 100%;
}

.ops-intro-header {
  align-items: flex-start;
  display: flex;
  height: 60%;
  justify-content: center;
  max-width: 840px;
}

.ops-intro-header h1 {
  color: var(--color-neutral-white);
  font-weight: 800;
  text-transform: uppercase;
}

.ops-intro .header-section {
  display: none;
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.ops-intro .header-section:first-child {
  text-align: center;
}

.ops-intro .header-section.is-active {
  display: flex;
  opacity: 1;
}

.ops-nav {
  counter-reset: section;
  display: flex;
  gap: var(--spacing--4);
  max-width: 1024px;
  text-align: left;
}

.ops-nav-item {
  background: transparent;
  border: none;
  color: var(--color-neutral-white);
  display: flex;
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size--h5);
  font-weight: 800;
  line-height: var(--heading-font-size--h5);
  padding: var(--spacing--6) var(--spacing--10);
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

.ops-nav-item:not(:last-child):after {
  background: var(--color-neutral-white);
  content: '';
  opacity: 0.1;
  position: absolute;
  right: calc(-1 * var(--spacing--2));

  top: 50%;
  transform: translateY(-50%);
  height: 84px;
  width: 1px;
}

.ops-nav-item-wrapper {
  display: flex;
  gap: var(--spacing--2);
  position: relative;
  transition: transform var(--theme-transition-ease-duration)
    var(--theme-transition-ease-function);
}

.ops-nav-item-wrapper:before {
  counter-increment: section;
  content: counter(section, decimal-leading-zero);
  font-size: 48px;
  line-height: 36.48px;
  opacity: 0.15;
}

.ops-nav-item-title {
  display: inline-flex;
  /* max-width: 195px; */
}

.ops-nav-item .icon-arrow {
  bottom: calc(-1 * var(--spacing--2));
  fill: none;
  opacity: 0;
  position: absolute;
  transform: translateY(calc(100% + var(--spacing--2)));
  transition: transform var(--theme-transition-ease-duration)
      var(--theme-transition-ease-function),
    opacity var(--theme-transition-ease-duration)
      var(--theme-transition-ease-function);
}

.ops-nav-item:hover {
  cursor: pointer;
}

.ops-nav-item:hover .ops-nav-item-wrapper {
  transform: translateY(-32px);
}

.ops-nav-item:hover .icon-arrow {
  opacity: 1;
  transform: translateY(100%);
}
