.procedure {
  --step-background-color: var(--color-blue--100);
  --step-text-color: var(--color-neutral-800);

  --substep-background-color: var(--color-neutral-black);
  --substep-text-color: var(--color-neutral-white);
}

/* Dark Mode */

[data-user-theme="dark"] .procedure {
  --step-background-color: var(--color-blue-dark--700);
  --step-text-color: var(--color-neutral-dark-050);

  --substep-background-color: var(--color-neutral-white);
  --substep-text-color: var(--color-neutral-dark-600);
}

.procedure {
  line-height: 1.618;
}

.procedure ol.steps {
  padding: 0;
  list-style-type: none;
  counter-reset: step-counter;
}

.procedure ol.steps li.step {
  margin: 46px 0;
  padding-left: 103px;
  position: relative;
  counter-reset: substep-counter;
}

.procedure ol.steps li.step::before {
  background-color: var(--step-background-color);
  border-radius: 38px;
  counter-increment: step-counter;
  content: "STEP " counter(step-counter) "";
  color: var(--step-text-color);
  left: 0;
  line-height: 18px;
  padding: 5px 0 5px var(--spacing--4);
  position: absolute;
  text-align: center;
  /* transform: translateX(-100%); */
  transition: background-color var(--action-ease-duration)
      var(--action-ease-function),
    color var(--action-ease-duration) var(--action-ease-function);
  width: 72px;
  text-align: left;
  top: -3px;
}

.procedure ol.steps li.step ol.substeps {
  padding: 0;
  list-style-type: none;
}

.procedure ol.steps li.step ol.substeps li.substep {
  margin: var(--article-block-spacing) 0 var(--article-block-spacing) 25px;
  padding-left: 10px;
  position: relative;
}

.procedure ol.steps li.step ol.substeps li.substep::before {
  align-items: center;
  background-color: var(--substep-background-color);
  border-radius: 50%;
  color: var(--substep-text-color);
  content: counter(substep-counter);
  counter-increment: substep-counter;
  display: flex;
  font-size: var(--body-font-size--p3);
  height: 20px;
  justify-content: center;
  letter-spacing: var(--letter-spacing-neg--s);
  line-height: var(--body-line-height--p3);
  position: absolute;
  right: 100%;
  width: 20px;
}
