.section.hero-search-container {
  background-color: transparent;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
  padding: var(--spacing--20) var(--padding--mobile) 0 var(--padding--mobile);
}

.hero-search-wrapper {
  position: relative;
}

.hero-search-wrapper .icon-cloud-logo {
  margin-bottom: var(--spacing-2);
}

.hero-search-wrapper h1 {
  color: var(--landing-heading-color);
}

.hero-search-container .default-content-wrapper ul {
  display: flex;
  column-gap: var(--spacing--4);
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: var(--spacing--10) 0;
}

.hero-search-container .default-content-wrapper ul a {
  min-width: 270px;
}

.hero-search-wrapper p {
  margin: 0 auto;
  max-width: 478px;
  padding-top: var(--spacing--2);
  text-align: center;
}

.hero-search-wrapper .hero-search-background {
  position: absolute;
  z-index: -2;
  /* background-color: #00C0E8; */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero-search .search-bar-container {
  margin: var(--spacing--10) 0;
}

.hero-search-container .default-content-wrapper ul a {
  align-items: center;
  border-radius: var(--primary-action-border-radius);
  background-color: var(--primary-action-background-color);
  border-radius: var(--primary-action-border-radius);
  color: var(--primary-action-text-color);
  display: inline-flex;
  font-size: var(--control-font-size--reg);
  line-height: var(--control-line-height--reg);
  letter-spacing: var(--letter-spacing-neg--s);
  justify-content: center;
  padding: 20px var(--spacing--6);
  text-decoration: none;
}

.hero-search-container .default-content-wrapper ul a:hover {
  background-color: var(--primary-action-active-background-color);
  text-decoration: none;
}

.hero-search-wrapper .search-bar .dropdown-content .coveo-dropdown-hero-search {
  display: block;
}

.hero-search-wrapper
  .search-bar
  .dropdown-content
  a:not(.coveo-dropdown-hero-search) {
  display: none;
}

@media only screen and (max-width: 640px) {
  .hero-search-container .default-content-wrapper ul a {
    min-width: 0;
  }
}

@media only screen and (max-width: 560px) {
  .hero-search-container .default-content-wrapper ul {
    flex-direction: column;
    padding: var(--spacing--2) 0 var(--spacing--6) 0;
    row-gap: var(--spacing--4);
  }
}

@media only screen and (max-width: 480px) {
  .hero-search-container .default-content-wrapper ul a {
    width: 100%;
  }

  .hero-search .search-bar-container {
    margin: var(--spacing--8) 0;
  }
}
