/* :root {
  --footer-background: var(--header-background)
} */

footer {
  padding: 4rem 0 0;
  background-color: var(--color-footer-background);
  color: var(--footer-text-color);
  font-size: var(--body-font-size-s);
  position: relative;
  z-index: var(--z-index-300--footer);
}

footer .footer > div > div {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

footer .footer .footer-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .footer .footer-links > ul {
  display: flex;
  flex-direction: column;
}

footer .footer .footer-links > ul > li {
  margin-bottom: 40px;
}

footer .footer .footer-links > ul > li > ul {
  position: relative;
  padding-top: 10px;
  margin-top: 10px;
}

footer .footer .footer-links > ul > li > ul::before {
  content: "";
  width: 40px;
  height: 2px;
  top: 0;
  position: absolute;
  background: var(--footer-text-color);
}

footer .footer .footer-links a {
  color: var(--footer-text-color);
  font-size: 14px;
}

footer .footer .footer-socials {
  display: flex;
  gap: 8px;
}

footer .footer .footer-socials a svg {
  color: #fff;
}

footer .footer .footer-socials a:hover svg {
  color: #2b90b8;
}

footer .footer .footer-legal {
  color: #a5a09d;
  background-color: #252525;
  min-width: 100vw;
  font-size: 12px;
  margin-top: 20px;
  padding: 30px 0;
  padding-left: 0;
  padding-right: 0;
}

footer .footer .footer-legal div {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1200px;
  margin: auto;
  align-items: center;
}

footer .footer .footer-legal img {
  width: 200px;
  height: auto;
}

@media (min-width: 768px) {
  footer .footer .footer-links > ul {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
  }

  footer .footer > div > div {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  footer .footer .footer-legal div {
    flex-direction: row;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1000px) {
  footer .footer > div > div {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  footer .footer .footer-legal div {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
