:root {
  --step-background-color: var(--color-blue--100);
}

.steps h2 {
  background-color: black;
  font-size: 18px;
  color: #f4f4f2;
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  padding: 10px;
}

.steps ol {
  list-style: none;
  background-color: #f4f4f2;
  padding: 25px 20px 25px 60px;
  margin: 0;
  counter-reset: highlight;
}

.steps ol li a {
  color: #807c7b;
  display: inline;
  text-decoration: none;
  padding: 0;
  background: linear-gradient(to right, #ffcb26, #fff0c8 70%, rgb(0 0 0 / 0%))
    no-repeat 0 0.85em;
  background-size: 0% 100%;
  transition: background-size 0.2s;
}

.steps ol li a:hover {
  text-decoration: none;
  cursor: pointer;
  background-size: 100% 100%;
}

.steps ol li a::before {
  background: var(--step-background-color);
  color: black;
  counter-increment: highlight;
  content: counter(highlight);
  font-size: 40px;
  font-weight: 300;
  margin-left: -42px;
  margin-top: -8px;
  display: block;
  float: left;
}

.steps ol li a::after {
  content: "";
  display: block;
  width: 25px;
  margin: 20px 0;
  border: 3px solid #000;
}
