.parallax-container {
  pointer-events: none;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.parallax-wrapper,
.parallax,
.parallax__layers,
.parallax__layer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.parallax__layer__0 .item {
  background: url("/assets/landing-left-graphic.webp") 0 0
    no-repeat;
  background-size: contain;
  width: 198px;
  height: 378px;
}

.parallax__layer__1 {
  display: flex;
  justify-content: flex-end;
  padding-top: 150px;
}

.parallax__layer__1 .item {
  background: url("/assets/landing-right-graphic.webp") 0 0
    no-repeat;
  background-size: contain;
  width: 280px;
  height: 600px;
}

@media only screen and (max-width: 900px) {
  .parallax-container {
    display: none;
  }
}
