.pan-admonition {
    margin: 10px 0;
    border: 1px solid #141414;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    position: relative;
    display: flex;
    border-radius: 15px;
    font-size: 12px;
}

.pan-admonition div {
    padding: 10px 10px 10px 15px;
}

.pan-admonition::before {
    background-color: #141414;
    content: url("/assets/note-icon.webp");
    color: #fff;
    font-size: 300%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2%;
    min-height: 100%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
