:root {
  --admonition-bar-color: var(--color-blue--650);
  --admonition-text-color: var(--color-blue-dark--100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --admonition-text-color: var(--color-neutral-300);
  }
}

.pan-admonition {
  color: var(--admonition-text-color);
  display: flex;
  flex-direction: column;
  hyphens: auto;
  line-height: var(--line-height--l);
  margin: 20px 0 40px;
  padding-left: 20px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
}

.pan-admonition > div {
  padding: 8px 0 0 0;
}

.pan-admonition::before {
  content: "Note:";
  font-weight: 500;
  text-transform: uppercase;
}

.pan-admonition::after {
  background: var(--admonition-bar-color);
  border-radius: 8px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}
