:root {
  --admonition-bar-color: var(--inline-link-text-color);
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

.pan-admonition {
  display: flex;
  flex-direction: column;
  hyphens: auto;
  margin: var(--spacing--8) 0;
  padding-left: var(--spacing--5);
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
}

.pan-admonition > div {
  padding: 8px 0 0 0;
}

.pan-admonition::before {
  content: "Note:";
  font-weight: 500;
  text-transform: uppercase;
}

.pan-admonition::after {
  background: var(--admonition-bar-color);
  border-radius: 8px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}
