.promo-wrapper {
  background: url("/prisma/prisma-cloud/assets/promo-left-graphic.webp") 5% -150%
      no-repeat,
    url("/prisma/prisma-cloud/assets/promo-right-graphic.webp") 100% 0 no-repeat,
    #242c38;
  background-size: 256px 256px, 274px 209px, auto;
  color: var(--color-neutral-white);
  margin-top: 130px;
  padding: var(--spacing--10) var(--padding--mobile) var(--spacing--8)
    var(--padding--mobile);
  position: relative;
  width: 100%;
}

.promo-wrapper:before {
  background: linear-gradient(
    2deg,
    var(--color-footer-background) 0%,
    rgba(42, 42, 42, 0) 100%
  );
  bottom: 0;
  content: "";
  height: 72%;
  left: 0;
  position: absolute;
  width: 100%;
}

.promo-wrapper .promo {
  margin: 0 auto;
  max-width: 527px;
  position: relative;
  text-align: center;
  z-index: 1;
}

.promo-wrapper p {
  color: var(--color-neutral-050);
  font-size: var(--body-font-size--p1);
  line-height: var(--body-line-height--p1);
  margin: var(--spacing--2) auto 0 auto;
  max-width: 480px;
}

.promo-wrapper .promo-actions {
  margin: var(--spacing--8) 0;
}

@media only screen and (max-width: 1024px) {
  .promo-wrapper {
    background-position: 5% -20%, 100% 0;
    background-size: 128px 128px, 137px 104px, auto;
  }
}

@media only screen and (max-width: 768px) {
  .promo-wrapper {
    padding-top: var(--spacing--22);
  }
}
