.product-tiles > div {
  display: flex;
  flex-direction: column;
}

.product-tiles img {
  width: 100%;
}

.product-tiles > div > div {
  order: 1;
  text-align: center;
}

.product-tiles > div > .product-tiles-img-col {
  order: 0;
}

.product-tiles > div > .product-tiles-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .product-tiles > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .product-tiles > div > div {
    flex: 1;
    order: unset;
    position: relative;
  }

  .product-tiles > div > div:not(:first-child)::before {
    content: ' ';
    border-left: solid 2px #fa582d;
    position: absolute;
    left: -16px;
    top: calc( ( 100% - 80px ) / 2 );
    margin: auto;
    height: 100%;
    max-height: 80px;
  }
}
