.latest-releases-wrapper {
    color: #141414;
}

.latest-releases-wrapper h2 {
    border-left: 3px solid #807c7b;
    margin-left: -16.5px;
    padding-left: 15px;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.latest-releases {
    display: table;
    margin-bottom: 20px;
    border: 15px solid #f4f4f2;
}

.latest-releases > div {
    display: table-row;
}

.latest-releases > div > div {
    display: table-cell;
    padding: 8px;
    line-height: 1.4;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.latest-releases > div:first-child > div {
    border-top-color: transparent;
}

.latest-releases ul {
    margin: 0;
}
