@import url("typography.css");
@import url("spacing.css");

:root {
  /** Legacy defs Begin **/
  /* colors */
  --link-color: #fa582d;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #000;
  --footer-text-color: #ded9d6;
  --footer-background-color: #1f2b35;

  /* fonts */
  --body-font-family: "HCo Decimal", "HCo Decimal Fallback", lato,
    "Helvetica Neue", helvetica, arial, sans-serif;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: menlo, monaco, consolas, "Courier New", monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 40px;
  --heading-font-size-xl: 28px;
  --heading-font-size-l: 26px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --nav-height: 64px;
  --nav-height--book: 122px;

  /* max width */
  --max-width: 1400px;
  /** Legacy defs END **/

  /* Tier 1 variables (Definitions) */
  --color-brand-blue: orange;
  --color-brand-orange-dark: darkorange;

  --color-neutral-white: white;
  --color-neutral-050: #f2f2f3;
  --color-neutral-100: #e4e4e7;
  --color-neutral-200: #cacace;
  --color-neutral-300: #afafb6;
  --color-neutral-400: #95959d;
  --color-neutral-500: #7a7a85;
  --color-neutral-600: #62626a;
  --color-neutral-700: #494950;
  --color-neutral-800: #313135;
  --color-neutral-900: #272727;
  --color-neutral-black: black;

  --color-blue--050: #f5faff;
  --color-blue--100: #dbefff;
  --color-blue--200: #99d0ff;
  --color-blue--400: #008bff;
  --color-blue--500: #1060ff; /* Depreciated */
  --color-blue--600: #006fcc;
  --color-blue--800: #003766;
  --color-blue--650: red; /* Depreciated */
  --color-blue--700: red; /* Depreciated */
  --color-blue--900: red; /* Depreciated */

  --color-accent--soft-blue: #addaff;
  --color-accent--soft-lime: #c3f0bc;
  --color-accent--soft-mint: #bcf0ea;
  --color-accent--soft-yellow: #f1f193;
  --color-accent--soft-orange: #ffdca0;
  --color-accent--soft-red: #ffa3a3;
  --color-accent--soft-fuschia: #e1a8f0;

  /* Dark mode definitions begin */
  --color-neutral-dark-050: #f2f2f3;
  --color-neutral-dark-100: #e4e4e7;
  --color-neutral-dark-200: #cacace;
  --color-neutral-dark-400: #2f3a4b;
  --color-neutral-dark-500: #27313f;
  --color-neutral-dark-600: #1f2732;
  --color-neutral-dark-800: #161b23;
  --color-neutral-dark-900: #12161d;

  --color-blue-dark--100: red; /* Depreciated */
  --color-blue-dark--200: #99c6ff;
  --color-blue-dark--400: red; /* Depreciated */
  --color-blue-dark--500: #4799ff;
  --color-blue-dark--550: red; /* Depreciated */
  --color-blue-dark--600: red; /* Depreciated */
  --color-blue-dark--700: #004499;
  --color-blue-dark--800: #002d66;
  --color-blue-dark--900: #00224d;

  --z-index-100: 100;
  --z-index-200: 200;
  --z-index-300: 300;
  --z-index-400: 400;
  --z-index-500: 500;
  --z-index-600: 600;
  --z-index-700: 700;
  --z-index-800: 800;
  --z-index-900: 900;

  --z-index-100--mobile-sidenav: var(--z-index-100);

  --z-index-300--footer: var(--z-index-300);

  --z-index-500--mobile-nav: var(--z-index-500);

  /* Tier 2 variables (High-level variables) */
  --action-ease-duration: 0.2s;
  --action-ease-function: ease;
  --theme-transition-ease-duration: 0.2s;
  --theme-transition-ease-function: ease;

  --color-body-background: var(--color-neutral-50);
  --color-body-background--light: var(--color-neutral-50);
  --color-body-book-background: var(--color-blue--050);
  --color-body-text: var(--color-neutral-700);
  --color-footer-background: #2a2a2a;
  --letter-spacing-body-text: var(--letter-spacing-neg--s);

  --primary-background: var(--color-neutral-white);

  --primary-action-background-color: var(--color-blue--500);
  --primary-action-text-color: var(--color-neutral-white);
  --primary-action-active-background-color: var(--color-neutral-800);
  --primary-action-active-text-color: var(--color-neutral-white);
  --primary-action-border-radius: 50px;

  --primary-action-outline-border-color: var(--color-neutral-800);
  --primary-action-outline-text-color: var(--color-neutral-900);

  --primary-action-outline-active-border-color: var(--color-neutral-600);
  --primary-action-outline-active-text-color: var(--color-neutral-700);

  --secondary-action-background-color: var(--color-neutral-black);
  --secondary-action-text-color: var(--color-neutral-white);
  --secondary-action-active-background-color: var(--color-neutral-white);
  --secondary-action-active-text-color: var(--color-neutral-black);
  --secondary-action-border-radius: 50px;

  --small-action-border-radius: var(--spacing--8);
  --small-action-font-size: var(--control-font-size--sm);
  --small-action-line-height: var(--control-line-height--sm);
  --small-action-padding-hz: var(--spacing--6);
  --small-action-padding-vert: var(--spacing--3);

  --tertiary-action-text-color: var(--color-neutral-700);
  --tertiary-action-active-background-color: var(--color-blue--100);
  --tertiary-action-active-text-color: var(--color-neutral-black);
  --tertiary-action-selected-background-color: var(--color-blue--200);
  --tertiary-action-selected-text-color: var(--color-neutral-800);
  --tertiary-action-padding: var(--spacing--4);
  --tertiary-action-border-radius: var(--spacing--2);
  --tertiary-action-font-size: var(--control-font-size--xs);
  --tertiary-action-line-height: var(--control-line-height--reg);

  --icon-action--text-color: var(--color-neutral-black);
  --icon-action--background-color: var(--color-neutral-white);
  --icon-action--border-color: var(--color-neutral-100);

  --icon-action--active-text-color: var(--color-neutral-black);
  --icon-action--active-background-color: var(--color-neutral-white);
  --icon-action--active-border-color: var(--color-neutral-100);

  --icon-action--disabled-text-color: var(--color-neutral-300);
  --icon-action--disabled-border-color: var(--color-neutral-050);

  --inline-link-text-color: var(--color-blue--500);

  --code-background: var(--color-neutral-100);
  --code-text-color: var(--color-neutral-black);

  /* 
    Tier 3 variables (Component specific)
     - Only add variables here if it will be used in styles.css, all others should reside in component specific css file
   */
  --article-background: var(--primary-background);
  --article-border-radius: 12px;
  --article-block-spacing: var(--spacing--8);
  --article-top-spacing: var(--spacing--4);
  --article-max-width: 1344px;

  --book-active-background-color: var(--color-blue--100);
  --book-active-text-color: var(--color-neutral-800);
  --book-focus-background-color: var(--book-active-background-color);
  --book-focus-border-color: #6492f7;
  --chapter-selected-background-color: var(--color-blue--200);
  --chapter-selected-text-color: var(--color-neutral-800);
  --chapter-focus-background-color: var(--color-blue--100);
  --chapter-focus-border-color: var(--book-focus-border-color);

  --code-copy-text-color: var(--color-neutral-500);

  --drawer-border-radius: var(--spacing--4);
  --drawer-background-color: var(--color-neutral-white);
  --drawer-hover-background-color: var(--color-neutral-050);
  --drawer-box-shadow-opacity: 0.08;
  --drawer-margin-gap: var(--spacing--2);
  --drawer-action-text-color: var(--color-neutral-black);

  --header-background--default: rgba(var(--color-neutral-white), 0.5);
  --header-border--default: var(--color-neutral-050);
  --header-background: var(--header-background--default);
  --header-border: var(--header-border--default);

  --landing-heading-color: var(--color-neutral-black);

  --mobile-drawer-background-color: var(--color-neutral-white);

  --search-background-color: var(--color-neutral-white);
  --search-hover-background-color: var(--color-neutral-050);
  --search-border-radius: 24px;
  --search-border-color: var(--color-neutral-100);
  --search-text-color: var(--color-neutral-black);

  --sidebar-book-spacing: var(--spacing--2);
  /* --sidebar-aside-toggle-background-color: var(--primary-background); */
  --sidebar-book-toggle-background-color: var(--inline-link-text-color);

  --scrollbar-thumb-background-color: var(--color-neutral-200);
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  [data-user-theme="dark"] .book {
    /* Tier 2 variables (High-level variables) */
    --code-background: var(--color-neutral-dark-800);
    --code-text-color: var(--color-neutral-white);
    --code-copy-text-color: var(--color-body-text);

    --color-body-background: var(--color-neutral-dark-800);
    --color-body-book-background: var(--color-body-background);
    --color-body-text: var(--color-neutral-100);

    --header-background: rgba(0, 0, 0, 0.5);
    --header-border: var(--color-neutral-dark-600);

    --inline-link-text-color: var(--color-blue-dark--500);

    --primary-action-background-color: var(--color-neutral-white);
    --primary-action-text-color: var(--color-neutral-black);
    --primary-action-active-background-color: var(--color-neutral-dark-200);
    --primary-action-active-text-color: var(--color-neutral-black);
    --primary-background: var(--color-blue-dark--800);

    --tertiary-action-text-color: var(--color-neutral-white);
    --tertiary-action-active-background-color: var(--color-neutral-black);
    --tertiary-action-active-text-color: var(--color-neutral-white);
    --tertiary-action-selected-background-color: var(--color-blue-dark--700);
    --tertiary-action-selected-text-color: var(--color-neutral-white);

    --icon-action--text-color: var(--color-neutral-white);
    --icon-action--background-color: var(--color-neutral-black);
    --icon-action--border-color: var(--color-neutral-600);

    /* 
    Tier 3 variables (Component specific)
     - Only add variables here if it will be used in styles.css, all others should reside in component specific css file
   */
    --article-background: var(--color-neutral-dark-600);

    --book-active-background-color: var(--color-neutral-black);
    --book-active-text-color: var(--color-neutral-white);
    --book-focus-background-color: var(--book-active-background-color);
    --book-focus-border-color: #6492f7;
    --chapter-selected-background-color: var(--color-blue--200);
    --chapter-selected-text-color: var(--color-neutral-800);
    --chapter-focus-background-color: var(--color-blue--100);
    --chapter-focus-border-color: var(--book-focus-border-color);

    --drawer-background-color: var(--color-neutral-black);
    --drawer-hover-background-color: var(--color-neutral-dark-900);
    --drawer-box-shadow-opacity: 0.5;
    --drawer-action-text-color: var(--color-neutral-white);

    --mobile-drawer-background-color: var(--color-neutral-dark-900);

    --scrollbar-thumb-background-color: var(--color-neutral-700);
  }

  html {
    color-scheme: dark;
  }
}

@media (max-width: 900px) {
  :root {
    --nav-height: 72px;
  }
}
