@import url("./definitions.css");
/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@font-face {
  font-family: "HCo Decimal Fallback";
  font-style: normal;
  font-weight: 400;
  src: local("Arial");
  ascent-override: 78.87%;
  descent-override: 16.43%;
  line-gap-override: 4.03%;
  size-adjust: 121.72%;
}

@media (min-width: 768px) {
  :root {
    /* heading sizes */
    --heading-font-size-xxl: 48px;
    --heading-font-size-xl: 40px;
    --heading-font-size-l: 32px;
    --heading-font-size-m: 24px;
    --heading-font-size-s: 20px;
    --heading-font-size-xs: 18px;
  }
}

* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size--p2);
  line-height: var(--body-line-height--p2);
  letter-spacing: var(--letter-spacing-neg--s);
  line-height: 1.4;
  color: var(--color-body-text);
  background-color: var(--color-body-background--light);
  display: none;
  overflow-x: hidden;
  padding-top: var(--nav-height);
  margin: 0;
}

body.landing-division {
  background: radial-gradient(
      122.54% 78.81% at 99.38% 0.59%,
      rgba(61, 155, 255, 0.2) 0%,
      rgba(244, 248, 251, 0) 100%
    ),
    #fff;
  background-size: auto;
}

body.landing-division .section:not(.parallax-container) {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 900px) {
  body.landing-division {
    background: url("/prisma/prisma-cloud/assets/landing-left-graphic.webp") 0 -50px
        no-repeat,
      url("/prisma/prisma-cloud/assets/landing-right-graphic.webp") 100% 150px
        no-repeat,
      radial-gradient(
        122.54% 78.81% at 99.38% 0.59%,
        rgba(61, 155, 255, 0.2) 0%,
        rgba(244, 248, 251, 0) 100%
      ),
      #fff;
    background-size: 198px 378px, 280px 600px, auto;
  }
}

/* Light Mode / Dark Mode only available on docs */
body.book {
  background-color: var(--color-body-book-background);
  color: var(--color-body-text);
  min-height: 100vh;
  transition: background-color var(--theme-transition-ease-duration)
      var(--theme-transition-ease-function),
    color var(--theme-transition-ease-duration)
      var(--theme-transition-ease-function);
}

body.appear {
  display: block;
}

body.no-body-scroll {
  overflow: hidden;
}

header {
  /* background: var(--header-background--default);
  backdrop-filter: blur(12px); */
  border-bottom: 1px solid var(--header-border--default);
  height: var(--nav-height);
  margin: auto;
  position: relative;
  z-index: var(--z-index-500--mobile-nav);
}

header:before {
  background: var(--header-background--default);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Themed header */
.book header {
  background-color: var(--header-background);
  border-bottom: 1px solid var(--header-border);
  transition: background-color var(--theme-transition-ease-duration)
      var(--theme-transition-ease-function),
    border-color var(--theme-transition-ease-duration)
      var(--theme-transition-ease-function);
}

body main {
  position: relative;
  z-index: 1;
}

/* header.loaded {
  background: transparent;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: 1.25;
  margin: 0;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size--h1);
  line-height: var(--heading-line-height--h1);
  letter-spacing: var(--letter-spacing-neg--lg);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size--h3);
  line-height: var(--heading-line-height--h3);
  letter-spacing: var(--letter-spacing-neg--m);
}

.article h3,
h4 {
  font-size: var(--heading-font-size-m);
}

.article h4,
h5 {
  font-size: var(--heading-font-size-s);
}

.article h5,
h6 {
  font-size: var(--heading-font-size-xs);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  /* font-size: var(--body-font-size--m);
  line-height: 24px; */
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: 13px;
  line-height: 18px;
  position: relative;
}

code,
samp {
  color: var(--code-text-color);
  padding: 0.125em;
  transition: color var(--theme-transition-ease-duration)
    var(--theme-transition-ease-function);
}

pre.active button,
pre:hover button {
  cursor: pointer;
  opacity: 1;
  pointer-events: all;
}

pre.active button:after {
  opacity: 1;
}

pre button {
  background: transparent;
  border: none;
  color: var(--code-copy-text-color);
  display: flex;
  font-size: var(--spacing--6);
  right: 0;
  opacity: 1;
  padding: var(--spacing--2);
  position: absolute;
  top: 0;
  transition: color var(--action-ease-duration) var(--action-ease-function);
}

pre button:hover {
  color: var(--code-copy-text-color-active);
}

.button-copy:after {
  background: var(--copy-confirmation-background-color);
  border-radius: var(--spacing--2);
  bottom: -50%;
  color: var(--color-neutral-white);
  display: flex;
  font-family: var(--body-font-family);
  font-size: var(--control-font-size--sm);
  line-height: var(--control-line-height--sm);
  left: 50%;
  opacity: 0;
  padding: var(--spacing--2) var(--spacing--3);
  position: absolute;
  transform: translate(-50%, var(--spacing--1));
  transition: opacity var(--action-ease-duration) var(--action-ease-function),
    width var(--action-ease-duration) var(--action-ease-function);
  white-space: nowrap;
}

.button-copy.active:after,
.button-copy:hover:after {
  opacity: 1;
}

.button-copy-code:after {
  content: "Copy";
}

.button-copy-code.active:after {
  content: "Copied";
}

.button-copy-link:after {
  content: "Copy link";
  transform: translate(-50%, var(--spacing--4));
}

.button-copy-link.active:after {
  content: "Link copied";
}

pre button svg path {
  stroke: transparent;
}

pre {
  overflow: scroll;
}

main pre {
  background: var(--code-background);
  border-radius: var(--spacing--4);
  padding: 40px 21px 32px;
  overflow-x: auto;
  transition: background-color var(--action-ease-duration)
    var(--action-ease-function);
  white-space: pre;
}

a:any-link {
  color: var(--inline-link-text-color);
  text-decoration: none;
  transition: color 0.2s ease, background-color 0.2s ease;
}

a:hover {
  text-decoration: underline;
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 1em;
  width: 1em;
  stroke: currentColor;
  fill: currentColor;
}

.icon svg {
  height: 100%;
  width: 100%;
}

.button-primary {
  align-items: center;
  border-radius: var(--primary-action-border-radius);
  display: inline-flex;
  font-size: var(--control-font-size--reg);
  line-height: var(--control-line-height--reg);
  letter-spacing: var(--letter-spacing-neg--s);
  justify-content: center;
  padding: 20px var(--spacing--6);
  text-decoration: none;
}

.button-primary:hover {
  text-decoration: none;
}

a.button-primary--blue,
.button-primary--blue {
  background-color: var(--primary-action-background-color);
  border-radius: var(--primary-action-border-radius);
  color: var(--primary-action-text-color);
}

a.button-primary--blue:hover,
.button-primary--blue:hover {
  background-color: var(--primary-action-active-background-color);
}

.drawer {
  background: var(--drawer-background-color);
  border-radius: var(--spacing--4);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, var(--drawer-box-shadow-opacity));
  display: none;
  flex-direction: column;
  padding: var(--spacing--4) var(--spacing--6);
  position: absolute;
}

.drawer.is-active {
  display: flex;
}

.drawer a,
.drawer div.has-icon,
.drawer button {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: var(--spacing--2);
  color: var(--drawer-action-text-color);
  display: flex;
  gap: var(--spacing--2);
  font-family: var(--body-font-family);
  min-width: 112px;
  padding: var(--spacing--2);
  text-decoration: none;
}

.drawer a:hover,
.drawer button:hover {
  background-color: var(--drawer-hover-background-color);
  cursor: pointer;
}

/* Add space just beneath the nav */
.book main > .section {
  margin-bottom: var(--spacing--4);
}

.book {
  padding-top: 0;
}

.book:before {
  content: "";
  display: flex;
  height: calc(var(--nav-height) + var(--article-top-spacing));
  width: 100vw;
}

/* main .section {
  padding: 64px 16px;
} */

/* @media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
} */

@media (min-width: 900px) {
  /* .section > div {
    max-width: 1200px;
    margin: auto;
  } */
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}

main .section.full-width {
  width: 100vw;
  margin-left: calc(0px - max(0px, (100vw - var(--max-width)) / 2));
}

main .section.full-width > div {
  max-width: initial;
}

/* utils */
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
}

@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  /* :root {
    --nav-height: 65px;
  } */

  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* breadcrumbs */
main .breadcrumbs-container {
  visibility: hidden;
}

main .breadcrumbs-container[data-section-status="loaded"] {
  visibility: visible;
}

/* book template */
.book {
  position: relative;
}

.book:after {
  background: url("/prisma/prisma-cloud/assets/article-outline-background.webp")
    0 0 no-repeat;
  content: "";
  opacity: 0.6;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: var(--nav-height);
  height: 240px;
  width: 120px;
}

.book .sidenav-container.article-container {
  display: flex;
  /* padding: 0 var(--article-top-spacing) 0 0; */
  flex-direction: column;
}

.book .article-wrapper {
  /* max-width: calc(min(100vw, 1400px) - 330px); */
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;
  margin: 0;
}

.book .sidenav-container.aside-close .article-wrapper {
  /* max-width: min(100vw, 1400px); */
  width: 100%;
}

@media (min-width: 901px) {
  .book .sidenav-container.article-container {
    flex-direction: row;
  }

  .book .sidenav-wrapper {
    min-width: 375px;
    /* max-width: 375px; */
    position: sticky;
    top: calc(var(--nav-height) + var(--article-top-spacing));
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin-top: 0;
    margin-bottom: auto;
    /* padding-left: 30px; */
  }

  .book .article-wrapper {
    /* padding-right: 30px; */
  }
}

/* Mobile adjustments for TOC nav */
@media only screen and (max-width: 900px) {
  body.book {
    padding-top: var(--nav-height--book);
  }
}

/* landing-product template */
.landing-product a {
  color: #fa582d;
}

.landing-product a:hover {
  text-decoration: underline;
}

.landing-product a:visited {
  color: #962d10;
}

.landing-product .section {
  padding: 0;
}

.landing-product .section-has-h1 {
  position: absolute;
  left: 0;
  width: 100vw;
  background: #00c0e8;
  padding-top: 165px;
  padding-bottom: 30px;
  top: 0;
  z-index: -10;
}

.landing-product .section-has-h1 h1 {
  color: white;
}

.landing-product .section-has-h1 hr {
  border-top: 3px solid #fff;
  margin: 10px auto 15px 0;
  width: 74px;
}

.landing-product .section-has-h1 + .section {
  margin-top: 130px;
  padding-top: 34px;
}

.landing-product .section-has-h1:first-child + .section {
  /* +20px for breadcrumb layout not loaded yet */
  margin-top: 150px;
}

.landing-product .section-has-h1 ~ .section {
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 992px) {
  .landing-product .section-has-h1 ~ .section {
    margin-left: 200px;
    margin-right: 100px;
    border-left: 1px solid #ded9d6;
  }
}

.landing-product .section.aside-right {
  display: flex;
  flex-wrap: wrap;
  margin-top: -15px;
  padding-top: 15px;
}

.landing-product .section.aside-right .section-main {
  width: 75%;
  padding-right: 30px;
}

.landing-product .section.aside-right .section-aside {
  width: 25%;
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .landing-product .section.aside-right .section-main,
  .landing-product .section.aside-right .section-aside {
    width: 100%;
  }
}

.landing-product .section.cards-container h2 {
  color: #aaa;
  padding: 15px 0;
  font-size: 48px;
  font-weight: 600;
}

.landing-product .section.cards-container h3 {
  border-left: 3px solid #807c7b;
  margin-left: -16.5px;
  padding-left: 15px;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}

.landing-product .section.cards-container h3 ~ p,
.landing-product .section.cards-container h3 ~ ul {
  border: 15px solid #f4f4f2;
  padding: 8px 8px 18px;
  color: #141414;
}

.landing-product .section.cards-container h3 ~ ul {
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

.landing-product .section.cards-container h3 + p.is-sibling-of-ul {
  border-bottom: 0;
  margin-bottom: 0;
}

.landing-product .section.cards-container h3 + p.is-sibling-of-ul + ul {
  border-top: 0;
}

/* Mobile Styles */
@media only screen and (max-width: 560px) {
  .book:before {
    display: none;
  }

  h1 {
    font-size: var(--heading-font-size--h3);
    line-height: var(--heading-line-height--h3);
    letter-spacing: var(--letter-spacing-neg--lg);
  }
}
