:root {
  /* Headings */
  --heading-font-size--h1: 56px;
  --heading-font-size--h2: 40px;
  --heading-font-size--h3: 32px;
  --heading-font-size--h4: 24px;
  --heading-font-size--h5: 20px;

  --heading-line-height--h1: 67px;
  --heading-line-height--h2: 48px;
  --heading-line-height--h3: 38px;
  --heading-line-height--h4: 30px;
  --heading-line-height--h5: 24px;

  /* Body copy */
  --body-font-size--p1: 16px;
  --body-font-size--p2: 14px;
  --body-font-size--p3: 12px;

  --body-line-height--p1: 27px;
  --body-line-height--p2: 25px;
  --body-line-height--p3: 18px;

  /* Control (Buttons, links, etc) */
  --control-font-size--reg: 16px;
  --control-font-size--sm: 14px;
  --control-font-size--xs: 12px;

  --control-line-height--reg: var(--control-font-size--reg);
  --control-line-height--sm: var(--control-font-size--sm);
  --control-line-height--xs: var(--control-font-size--xs);

  /* General - can be used with all typography */
  --letter-spacing-neg--s: -0.02em;
  --letter-spacing-neg--m: -0.04em;
  --letter-spacing-neg--lg: -0.05em;

  /* Depreciated */
  --body-font-size--s: 100px;

  --line-height--l: 100px;
}
