search-bar {
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-bar #searchbox {
  width: 100%;
  min-width: auto;
}

.search-bar #coveo-searchbox .magic-box {
  border: none;
  border-radius: 0;
}

.search-bar #coveo-searchbox .magic-box .magic-box-input {
  border-radius: 0;
}

.search-bar #coveo-searchbox .magic-box .magic-box-clear-svg {
  color: #fb582c;
}

.search-bar #coveo-searchbox .coveo-accessible-button {
  height: 48px;
  width: 60px;
  background: white;
  border: none;
}

.search-bar button#selected-button::after {
  font-family: simple-line-icons, var(--body-font-family);
  content: '\e604';
  margin-left: 10px;
}

.search-bar select.ui.dropdown {
  padding: 15px;
}

.search-bar #searchbox #coveo-searchbox {
  margin-top: 0;
}

.search-bar .dropbtn {
  color: black;
  padding: 15px 15px 14px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-right: 1px solid #000;
  background: #ffffff8c;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.search-bar a.coveo-dropdown-item:hover {
  text-decoration: none;
  cursor: pointer;
  background-size: 100% 100%;
}

.search-bar a.coveo-dropdown-item {
  color: black;
  text-decoration: none;
  padding: 0;
  background: linear-gradient(to right, #ffcb26, #fff0c8 70%, #0000);
  background-repeat: no-repeat;
  background-position: 0 0.85em;
  transition: background-size 0.2s;
  background-size: 0% 100%;
  white-space: nowrap;
}

.search-bar .coveo-search-button-svg {
  color: #fb582c;
}

.search-bar .coveo-accessible-button:hover .coveo-magnifier-circle-svg {
  fill: #fb582c;
}

.search-bar .dropdown {
  position: relative;
  display: inline-block;
}

.search-bar .dropdown-content {
  display: none;
  position: absolute;
  min-width: 300px;
  overflow: auto;
  z-index: 1;
  top: 100%;
  left: 0;
  background: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  box-shadow: 0 14px 40px #36424b4d;
  color: #000;
  font-size: 13px;
  margin: 0;
  padding: 25px;
  transition: transform 0.3s ease, opacity 0.4s ease-out, height 0.2s ease;
  transform-origin: top;
  transform: rotateX(-10deg);
}

.search-bar .dropdown-content a {
  color: black;

  /* padding: 12px 16px; */
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.search-bar .dropdown a:hover {
  background-color: #ddd;
}

@media (max-width: 768px) {
  .search-bar .dropbtn {
    font-size: 12px;
    padding: 17px 15px;
  }
}

@media (max-width: 500px) {
  .search-bar .dropbtn {
    font-size: 12px;
    white-space: break-spaces;
  }

  .search-bar {
    display: block;
  }

  .search-bar .dropdown {
    width: 100%;
  }

  .search-bar #coveo-searchbox {
    max-width: 100%;
    margin-right: 0;
  }

  .search-bar .dropdown-content {
    z-index: 11;
    width: 100%;
    min-width: 100%;
  }
}