.article {
  --banner-background-color: var(--color-neutral-white);
  --banner-box-shadow: 0px 2px 4px 0px rgba(0, 55, 102, 0.25);
  --banner-caret-color: var(--color-blue--400);
  --banner-icon-background-color: var(--color-blue--100);
  --banner-text-color: var(--color-neutral-900);

  --copy-background-color-active: var(--color-neutral-050);

  --image-backdrop-color: var(--color-blue--050);
  --image-box-shadow: 0px 3.692307710647583px 14.769230842590332px 0px
    rgba(139, 180, 221, 0.3);

  --last-updated-text-color: var(--color-neutral-500);

  --outline-text-color: var(--color-neutral-900);

  --small-action-background-color: var(--color-neutral-black);
  --small-action-text-color: var(--color-neutral-white);
}

[data-user-theme="dark"] .article {
  --banner-background-color: var(--color-neutral-dark-600);
  --banner-box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  --banner-caret-color: var(--color-blue-dark--500);
  --banner-icon-background-color: var(--color-neutral-dark-800);
  --banner-text-color: var(--color-neutral-dark-100);

  --copy-background-color-active: var(--color-neutral-dark-500);

  --image-backdrop-color: var(--color-neutral-dark-500);
  --image-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);

  --last-updated-text-color: var(--color-neutral-dark-200);

  --outline-text-color: var(--color-neutral-white);

  --small-action-background-color: var(--color-neutral-white);
  --small-action-text-color: var(--color-neutral-black);
}

.article {
  display: flex;
  height: 100%;
  width: 100%;
}

.article .contain {
  margin: 0 auto;
  max-width: var(--article-max-width);
}

.article.block.not-found .hidden-not-found {
  display: none;
}

.article-sidebar {
  color: var(--outline-text-color);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  /* Account for bottom padding of theme switcher */
  max-height: calc(100vh - var(--nav-height) - var(--spacing--4));
  position: sticky;
  top: calc(var(--nav-height) + var(--article-top-spacing));
  transition: color var(--action-ease-duration) var(--action-ease-function);
  width: 240px;
}

.article-sidebar * {
  position: relative;
  z-index: 1;
}

.article-outline {
  opacity: 0;
  padding: var(--spacing--20) var(--spacing--6) 0;
}

.article-outline.is-visible {
  opacity: 1;
}

.article-outline-title {
  font-size: var(--control-font-size--sm);
  line-height: var(--control-line-height--sm);
  margin-bottom: var(--spacing--3);
}

.article-outline ul {
  list-style: none;
  margin: 0;
  max-height: 65vh;
  overflow: auto;
  padding: 0;

  scrollbar-gutter: stable;

  /* Scrollbar styles */
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-background-color) transparent;
  scrollbar-gutter: stable;
}

.article-outline ul::-webkit-scrollbar {
  height: 0.375rem;
  width: 8px;
}

.article-outline ul::-webkit-scrollbar-track {
  background-color: transparent;
}

.article-outline ul::-webkit-scrollbar-thumb {
  border-radius: 0.375rem;
}

.article-outline ul:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-background-color);
}

.article-outline li {
  padding: 2px 2px 2px 0;
  position: relative;
  margin-top: 2px;
  margin-bottom: 2px;
}

.article-outline ul a {
  border-radius: var(--tertiary-action-border-radius);
  color: var(--tertiary-action-text-color);
  display: flex;
  font-size: var(--tertiary-action-font-size);
  line-height: var(--tertiary-action-line-height);
  padding: 8px var(--tertiary-action-padding);
  text-decoration: none;
  width: 100%;
}

.article-outline ul a:hover {
  background: var(--book-active-background-color);
  color: var(--book-active-text-color);
}

.article-outline ul a.scroll-spy__active {
  background-color: var(--tertiary-action-selected-background-color);
  color: var(--tertiary-action-selected-text-color);
}

.pan-article {
  background: var(--article-background);
  border-radius: var(--article-border-radius);
  min-height: 100vh;
  padding: var(--spacing--10);
  position: relative;
  transition: background-color var(--theme-transition-ease-duration)
    var(--theme-transition-ease-function);
  width: 100%;
  z-index: 1; /* Position above page outline */
}

.article [data-docs-heading] {
  position: relative;
}

.article [data-docs-heading] .anchor {
  position: absolute;
  top: calc(-1 * var(--nav-height) - var(--spacing--10));
  transform: translateY(-100%);
  height: 50px;
  width: 50px;
}

.article [data-docs-heading]:hover button {
  opacity: 1;
}

.article [data-docs-heading] button:hover {
  background-color: var(--copy-background-color-active);
  cursor: pointer;
}

.article [data-docs-heading] button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: var(--color-body-text);
  display: flex;
  justify-content: center;
  left: -var(--spacing--2);
  opacity: 0;
  padding: 0;
  position: absolute;
  transform: translate(-100%, -50%);
  top: 50%;
  text-decoration: none;
  transition: background-color var(--theme-transition-ease-duration)
      var(--theme-transition-ease-function),
    opacity var(--theme-transition-ease-duration)
      var(--theme-transition-ease-function);
  height: var(--spacing--8);
  width: var(--spacing--8);
}

article [data-docs-heading] span {
  color: var(--icon-action--text-color);
  height: var(--spacing--4);
}

.article [data-docs-heading] svg {
  stroke: currentColor;
  fill: currentColor;
  height: var(--spacing--4);
  width: var(--spacing--4);
}

.pan-article .title {
  color: var(--banner-text-color);
  padding: 0;
  position: relative;
}

.pan-article .title h1 {
  font-size: var(--heading-font-size--h3);
  line-height: var(--heading-line-height--h3);
  letter-spacing: var(--letter-spacing-neg--m);
  padding: 0;
}

.pan-article .last-updated {
  display: none;
  color: var(--last-updated-text-color);
}

.pan-article .last-updated.is-visible {
  display: flex;
}

.pan-article .banner {
  margin-bottom: var(--spacing--9);
}

.pan-article .banner-inner {
  position: relative;
  z-index: 0;
}

.pan-article .banner-inner h2,
.pan-article .banner-inner hr {
  display: none;
}

/* .pan-article .banner-inner::before {
    background-image: url("/prisma/prisma-cloud/assets/sase-cns-pattern.webp");
    display: block;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 367.5px;
    height: 502px;
    background-size: contain;
    top: -210px;
    right: 30px;
    background-repeat: no-repeat;
    background-position: 30px center;
    z-index: -1;
    opacity: 0.5;
  } */

.pan-article .banner-inner h2 {
  color: black;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.pan-article .banner-inner hr {
  border-top: 3px solid #00c0e8;
  margin: 25px auto 25px 0;
  width: 75px;
}

.pan-article .book-detail-pagination {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;

  display: none;
}

.article-actions {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--spacing--10);
}

.article-actions .back-home a {
  align-items: center;
  color: var(--color-body-text);
  display: flex;
  text-decoration: none;
}

.article-actions .back-home a svg {
  margin-right: var(--spacing--2);
  font-size: var(--spacing--6);
  stroke: transparent;
}

.pan-article .edit-github {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  /* position: absolute;
  right: 49px;
  top: 36px; */
}

.pan-article .edit-github a {
  background: var(--small-action-background-color);
  border-radius: var(--small-action-border-radius);
  color: var(--small-action-text-color);
  font-size: var(--small-action-font-size);
  line-height: var(--small-action-line-height);
  padding: var(--small-action-padding-vert) var(--small-action-padding-hz);
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 1;
}

.pan-article .edit-github a:hover {
  background: var(--primary-action-active-background-color);
  color: var(--primary-action-active-text-color);
  text-decoration: none;
}

.pan-article .edit-github a i {
  margin-left: 4px;
  font-weight: 700;
  display: none;
}

.pan-article .book-detail-pagination a {
  color: #a5a09d;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
}

.pan-article .book-detail-pagination a:hover {
  color: #fa582d;
}

.pan-article .book-detail-pagination a i {
  font-size: 18px;
  color: #fa582d;
}

.pan-article .book-detail-pagination a div {
  padding: 7.5px;
}

.pan-article .content-inner {
  /* padding-top: 20px; */
  /* border-left: 1px solid #f4f4f2; */
  min-height: 200px;
  /* overflow: hidden; */
  width: 100%;
}

.pan-article .book-content {
  font-size: var(--body-font-size--p2);
  line-height: var(--body-line-height--p2);
  letter-spacing: var(--letter-spacing-neg--s);
}

.pan-article .book-content .section {
  padding: 0;
}

/* .pan-article .book-content p {
  font-size: 12px;
} */

.pan-article [data-class="image-wrapper"] {
  border-radius: var(--spacing--3);
  background-color: var(--image-backdrop-color);
  margin: var(--article-block-spacing) 0;
  padding: var(--spacing--10) var(--spacing--12);
  transition: background-color var(--action-ease-duration)
    var(--action-ease-function);
}

.pan-article [data-class="image-wrapper"] img {
  box-shadow: var(--image-box-shadow);
  transition: box-shadow var(--action-ease-duration) var(--action-ease-function);
}

.pan-article .book-content h3,
.pan-article .book-content h4,
.pan-article .book-content h5 {
  /* font-size: var(--heading-font-size--h4);
  line-height: var(--heading-line-height--h4);
  letter-spacing: var(--letter-spacing-neg--s); */
  margin-top: var(--article-block-spacing);
}

/* .pan-article .book-content h2 {
  color: #36424b;
  font-weight: 400;
  font-size: 22px;
  margin-top: 50px;
  margin-bottom: 10px;
  border-bottom: 1px solid #c8c2be;
}

.pan-article .book-content h3 {
  margin-top: 30px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 10px;
}

.pan-article .book-content h4,
.pan-article .book-content h5,
.pan-article .book-content h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pan-article .book-content h4,
.pan-article .book-content h5 {
  font-size: 14px;
}

.pan-article .book-content h6 {
  font-size: 12px;
} */

.pan-article .book-content pre {
  display: block;
  margin: var(--spacing--6) 0;
  overflow: visible;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

.pan-article .banner-meta {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: var(--spacing--2);
}

/* Version Selector */
.versions .banner-dropdown,
.versions .book-detail-banner-info {
  display: flex;
}

.versions .banner-dropdown {
  background: var(--banner-background-color);
  border-radius: var(--article-border-radius);
  color: var(--banner-text-color);
  transition: background-color var(--theme-transition-ease-duration)
    var(--theme-transition-ease-function);
}

.pan-article .version-dropdown {
  position: relative;
  min-width: 150px;
}

.pan-article .version-button {
  align-items: center;
  background: transparent;
  border: none;
  color: var(--banner-text-color);
  cursor: pointer;
  display: flex;
  font-family: var(--body-font-family);
  justify-content: space-between;
  gap: var(--spacing--2);
  padding: var(--spacing--3) var(--spacing--2);
  text-decoration: none;
  transition: color var(--theme-transition-ease-duration)
    var(--theme-transition-ease-function);
  width: 100%;
}

.version-button__left {
  align-items: center;
  display: flex;
  gap: var(--spacing--2);
}

.pan-article .version-button svg {
  color: var(--banner-caret-color);
  font-size: var(--spacing--6);
}

.pan-article .version-button svg path {
  stroke: none;
}

.version-dropdown .icon-container {
  align-items: center;
  background-color: var(--banner-icon-background-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  transition: background-color var(--theme-transition-ease-duration)
    var(--theme-transition-ease-function);
  height: var(--spacing--4);
  width: var(--spacing--4);
}

.version-dropdown .icon-container svg {
  height: var(--spacing--2);
  width: var(--spacing--2);
}

.pan-article .version-dropdown-menu {
  bottom: calc(var(--drawer-margin-gap) * -1);
  left: 0;
  min-width: 260px;
  position: absolute;
  transform: translateY(100%);
  width: 100%;
  z-index: 2;
}

.pan-article .version-dropdown .version-dropdown-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pan-article
  .version-dropdown-menu.is-active
  + .version-button
  .icon-container {
  transform: scale(-1);
}

@media only screen and (max-width: 1248px) {
  /** Add right padding when page outline sidebar is closed */
  .book .article-container {
    padding-right: var(--spacing--4);
  }

  .article-sidebar {
    display: none;
  }

  .pan-article .version-dropdown-menu {
    left: auto;
    right: 0;
  }
}

@media (max-width: 900px) {
  .book .article-wrapper {
    width: 100%;
    max-width: none;
  }

  .pan-article .content {
    padding-right: 0;
  }
}

@media only screen and (max-width: 560px) {
  .pan-article {
    --horizontal-pading: var(--spacing--5);
  }

  .article-actions {
    align-items: flex-start;
    flex-direction: column;
    gap: var(--spacing--9);
    padding-bottom: var(--spacing--6);
  }

  .pan-article {
    border-radius: 0;
    padding: var(--spacing--10) var(--horizontal-pading);
  }

  .pan-article .banner-meta {
    align-items: flex-start;
    flex-direction: column;
    gap: var(--spacing--2);
  }

  .pan-article .version-dropdown-menu {
    left: 0;
    right: auto;
  }

  .pan-article .section ul {
    padding-left: var(--horizontal-pading);
  }
}
